@mixin dropdown() {
  position: absolute;
  background-color: $dropdown_background_color;
  border: 1px solid $dropdown_border_color;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15);
  z-index: z("header") + 1;
  padding: 0.5em;
  @if $links_position == "left" {
    top: calc(var(--header-offset) - 0.8rem);
  } @else {
    top: calc(var(--header-offset) - 1.25rem);
  }
}
