.custom-header-links {
  @media screen and (max-width: 712px) {
    display: none;
  }

  .top-level-links {
    .custom-header-link {
      &:hover {
        color: $main_link_hover_color;

        .custom-header-dropdown {
          transform: scale(1);
          transition-delay: 0s;
        }

        .custom-header-link-caret svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}